<div *ngIf="loading">Loading..</div>
<div *ngIf="errors">
  Something went wrong!
  <p *ngFor="let error of errors">
    {{ error.message }}
  </p>
</div>
<div *ngIf="!loading && !errors">
  <div *ngIf="messages?.length" id="message-container">
    <div *ngFor="let message of messages" class="message-body">
      <p class="message-content">
        {{ message.content }}
      </p>
      <p class="message-sent-at">
        {{ message?.sentAt | amTimeAgo }}
      </p>
    </div>
    <div #scrollAnchor id="scroll-anchor"></div>
  </div>
  <form [formGroup]="newMsgForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="content"> Content </label>
      <input id="content" type="text" formControlName="content" autofocus />
    </div>

    <button class="button" type="submit">Send Message</button>
  </form>
</div>
